/* btn variants & sizes */
.pure-button-success,
.pure-button-danger,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-button-success {
  background: rgb(28, 184, 65);
}
.pure-button-danger {
  background: rgb(202, 60, 60);
}
.pure-button-warning {
  background: rgb(223, 117, 20);
}
.pure-button-secondary {
  background: rgb(66, 184, 221);
}
.pure-button-xs {
  font-size: 70%;
}
.pure-button-sm {
  font-size: 85%;
}
.pure-button-lg {
  font-size: 110%;
}
.pure-button-xl {
  font-size: 125%;
}

/* container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}